<app-titulo [titulo]="'Evento'"></app-titulo>

<div action="" class="form-inline">
    <div class="form-group mb-2">
        <label>Filtros: </label>
        <input type="text" 
        class="form-control mr-2" 
        id="txtPesquisa" 
        placeholder="Buscar"
        [(ngModel)]="filtroLista" 
        />
    </div>
   
</div> 

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                <button type="button" class="btn btn-outline-light" (click)="alternarImagem()">
                    <i class="{{mostrarImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
                    {{mostrarImagem ? 'Ocultar' : 'Exibir'}}
                </button>
            </th>
            <th>#</th>
            <th>Evento</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qth Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length > 0">
        <tr *ngFor="let evento of eventosFiltrados">
            <td>
                <img [collapse]="!mostrarImagem"
                    [isAnimated]="true"
                    src="/assets/{{evento?.imagemURL}}"
                    [style.width.px]="widthImg" 
                    [style.magin.px]="marginImg" />
            </td>  
            <td>
                {{evento?.id}}
            </td> 
            <td>
                {{evento?.tema}}
            </td>
            <td>
                {{evento?.local}}
            </td>
            <td>
                {{evento?.dataEvento | DateTimeFormat}}
            </td>
            <td>
                {{evento?.qtdPessoas}}
            </td>
            <td>
                {{evento?.lotes}}
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm mr-2" tooltip="Editar">
                        <i class="fa fa-edit"></i>
                    </button> 
                    <button type="button" class="btn btn-danger btn-sm mr-2" tooltip="Excluir" (click)="openModal(template)">
                        <i class="fa fa-trash"></i> 
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="eventos && eventos.length === 0">
        <tr>
            <td colspan="6">
                <div class="text-center">
                    <button class="btn btn-primary">Nenhum Evento Encontrado</button>
                </div>
            </td>
        </tr>
    </tfoot>
</table>

<pre class="card card-block card-header">{{message}}</pre>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
